# Common
NODE_ENV=development
JWT_SECRET=your_super_secret_jwt_key
RABBITMQ_URLS=amqp://rabbitmq:rabbitmq123@microservices-rabbitmq:5672
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq123

# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

# User Service
USER_PORT=3001
USER_DB_NAME=userdb

# Product Service
PRODUCT_PORT=3002
MONGODB_URI=mongodb://mongo:mongo123@microservices-mongo:27017/productdb?authSource=admin
MONGODB_USER=mongo
MONGODB_PASS=mongo123

# Notification Service
NOTIFICATION_PORT=3003
REDIS_HOST=microservices-redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123

# Shopping Cart Service
CART_PORT=3006

# Orders Service
ORDERS_PORT=3004
ORDERS_DB_NAME=ordersdb
# The URL below is for internal docker communication
DATABASE_URL_ORDERS=postgresql://postgres:postgres123@orders-postgres:5432/ordersdb?schema=public

# Payments Service
PAYMENTS_PORT=3005
STRIPE_SECRET_KEY=your_stripe_key
STRIPE_ENDPOINT_SECRET=your_stripe_endpoint_secret
PAYMENTS_CANCEL_URL=http://localhost:3000/cancel
PAYMENTS_SUCCESS_URL=http://localhost:3000/success
